.musicList_item {
    border: 1px solid #f2f2f2;
    background: #fff;
    /* margin-top: 0px; */
    padding: 5px 5px 0 5px;
}

.musicList_item span {
    padding: 5px 5px 0 5px;
    font-size: 13px;
    line-height: 21px;
    /* margin: 5px 5px; */
    color: #525252;
    display: inline-block;
}

.musicList_item img {
    padding: 5px 5px 0 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
    
}

.musicList_wrapper {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in;
}

.musicList_wrapper_active {
    opacity: 1;
    transform: translateX(0%);
}
